.vs
/SEdit/bin/x86/Debug/net6.0-windows/logs
/SEdit/bin/x86/Debug/net6.0-windows
/SEdit/obj
/Spirit Engine/obj/x86/Debug/net6.0-windows
/Spirit Engine/obj
/Demo/obj
/Spirit Engine/bin/x86/Debug/net6.0-windows
/Demo/bin/x86/Debug/net6.0-windows
/SEdit/bin/Debug/net6.0-windows
/push.cmd
